.primaryClass {
  color: #FE5F1E;
}

body {
  font-family: "lato", sans-serif;
  -webkit-font-smoothing: antialiased;
}

.bttn {
  background: #FE5F1E;
  color: #fff;
}
.bttn:hover {
  background: #b23301;
}

nav li:last-child a {
  background: #FE5F1E;
}
nav li:last-child a:hover {
  background: #b23301;
}
nav li a {
  font-weight: bold;
  transition: all 0.3s ease-in-out;
}
nav li a:hover {
  color: #b23301;
}

section.hero {
  background: #F8F8F8;
}
section.hero a.btn {
  background: #FE5F1E;
  color: #fff;
}
section.hero a.btn:hover {
  background: #b23301;
}
section.cart {
  background: #F8F8F8;
}
section.cart .amount {
  color: #FE5F1E;
}

.loggin {
  min-height: calc(100vh - 100px);
  background: #F8F8F8;
}

span.size {
  background: #F8F8F8;
}

.add-to-cart {
  border: 2px solid #FE5F1E;
  color: #FE5F1E;
  transition: all 0.3s ease-in-out;
}
.add-to-cart:hover {
  background: #FE5F1E;
  color: #fff;
}

input#email-address {
  margin-bottom: 24px;
}
