
//import variable
@import './variables';


.primaryClass{
    color:$primary;
}

body{
    font-family: 'lato', sans-serif;
    -webkit-font-smoothing:antialiased;
}

.bttn{
    background:$primary;
    color:$pure;
    &:hover{
        background:$primary-hover;
    }
}

nav {
    li{
        &:last-child {
            a{
                background:$primary;
                &:hover{
                    background:$primary-hover;
                }
            }
        }
        a{
            font-weight:bold;
            transition: $smooth;
            &:hover{
                color:$primary-hover;
            }
        }
    }
}

section{
    &.hero{
        background:$secondary;
        a{
            &.btn{
                background:$primary;
                color:$pure;
                &:hover{
                    background:$primary-hover;
                }
            }
        }
    }

    &.cart{
        background:$secondary;
        .amount{
            color:$primary;
        }
    }

    
}

.loggin{
    min-height:calc(100vh - 100px);
    background:$secondary;
}

span.size{
    background:$secondary;
}

.add-to-cart{
    border:2px solid $primary;
    color:$primary;
    transition: $smooth;
    &:hover{
        background:$primary;
        color:$pure;
    }
}

// only for signup account page, coz tailwind css not working properly
input#email-address {
    margin-bottom: 24px;
}