
<section class="cart py-20">

    <div class="container mx-auto order w-1/2">
        <div class="flex items-center ">
            <img src="/img/cart-black.png" alt="" class="">
            <h1 class="font-bold text-2xl pl-3">Order summary</h1>
        </div>
        <hr class="mt-4">

        <div class="pizza-list ">
            <div class="flex items-center my-8">
                <img src="/img/pizza.png" alt="" class="w-24">
                <div class="flex-1 ml-4">
                    <h1>Marinara</h1>
                    <span>MEDIUM</span>
                </div>
                <span class="flex-1">1 Pcs</span>
                <span class="font-bold text-lg">$300</span>

            </div>

            <div class="flex items-center my-8">
                <img src="/img/pizza.png" alt="" class="w-24">
                <div class="flex-1 ml-4">
                    <h1>Marinara</h1>
                    <span>MEDIUM</span>
                </div>
                <span class="flex-1">1 Pcs</span>
                <span class="font-bold text-lg">$300</span>

            </div>

            <div class="flex items-center my-8">
                <img src="/img/pizza.png" alt="" class="w-24">
                <div class="flex-1 ml-4">
                    <h1>Marinara</h1>
                    <span>MEDIUM</span>
                </div>
                <span class="flex-1">1 Pcs</span>
                <span class="font-bold text-lg">$300</span>

            </div>

            <div class="flex items-center my-8">
                <img src="/img/pizza.png" alt="" class="w-24">
                <div class="flex-1 ml-4">
                    <h1>Marinara</h1>
                    <span>MEDIUM</span>
                </div>
                <span class="flex-1">1 Pcs</span>
                <span class="font-bold text-lg">$300</span>

            </div>
        </div>

        <hr>

        <div class="text-right py-4">
            <div class="">
                <span class="text-lg font-bold pr-2">Total Amount:</span>
                <span class="amount font-bold text-2xl">$300</span>
            </div>
            <div class="">
                <form action="" class="mt-12">
                    <input type="text" class="border border-gray-400 p-2 w-1/2 mb-4" placeholder="Phone number">
                    <input type="text" name="" placeholder="Address" id="" class="border border-gray-400 p-2 w-1/2">
                    <!-- <div>
                        <input type="submit" value="Order Now" class="bttn rounded-full px-6 py-2 font-bold mt-6 text-lg">
                    </div> -->
                </form>
            </div>

            <a href="#" class="inline-block cursor-pointer mt-6 bttn font-bold rounded-full px-6 py-2 text-lg">Login to continue</a>
        </div>



    </div>

   


    <!-- <div class="empty-cart">
        <div class="container mx-auto text-center mt-10 mb-3">
            <h1 class="font-bold m-4 text-3xl">Cart Empty</h1>
            <p class="mb-12 text-gray-500 text-lg">You probably haven't ordered a pizza yet. <br>
                To order a pizza, go to the main page.
            </p>
            <img src="/img/empty-cart.png" class="w-2/5 mx-auto mb-16" alt="">
            <a href="" class="px-6 py-2 rounded-full bttn font-bold inline-block">Go back</a>
        </div>
    </div> -->
</section>